# Configuring Zsh Cache...
if [[ ! -d $ZSH_CACHE_DIR ]]; then
  mkdir $ZSH_CACHE_DIR
fi

# Configuring Zsh Config...
. /usr/share/zinit/zinit.zsh
zi snippet /usr/share/oh-my-zsh/lib/git.zsh
if [[ ${EUID} == 0 ]]; then
  zi snippet /usr/share/oh-my-zsh/lib/theme-and-appearance.zsh
  zi snippet /usr/share/oh-my-zsh/themes/kardan.zsh-theme
else
  zi snippet /usr/share/oh-my-zsh/lib/prompt_info_functions.zsh
  zi snippet /usr/share/oh-my-zsh/themes/gnzh.zsh-theme
  zi ice wait lucid
  zi snippet /usr/share/oh-my-zsh/plugins/gpg-agent/gpg-agent.plugin.zsh
fi
zi snippet /usr/share/oh-my-zsh/lib/history.zsh
zi snippet /usr/share/oh-my-zsh/lib/key-bindings.zsh
zi ice wait lucid
zi light /usr/share/zsh/plugins/fast-syntax-highlighting
zi ice wait lucid atload'_zsh_autosuggest_start'
zi light /usr/share/zsh/plugins/zsh-autosuggestions
zi ice wait lucid
zi light /usr/share/oh-my-zsh/plugins/sudo

autoload compinit; compinit

# Configuring Alias...
alias clip='curl -F "c=@-" "https://api.inetech.fun/clip?return=preview"'
if [ -f /usr/bin/exa ]; then
  alias ls=exa
  alias lshmjk='ls -a ${HOME} -I ".cache|.config|.local|Desktop|Documents|Downloads|Music|Pictures|Templates|Videos"'
fi
if [ -f /usr/bin/bat ]; then
  alias cat=bat
fi
if [ -f /usr/bin/duf ]; then
  alias df=duf
fi
if [ -f /usr/bin/ncdu ]; then
  alias du=ncdu
fi
if [ -f /usr/bin/besttrace ]; then
  alias besttrace='besttrace -q 1'
fi
if [[ ${EUID} == 0 ]]; then
  killall gpg-agent
  alias gpg='gpg --no-autostart'
  gpg -K &> /dev/null
else
  alias bwrap='bwrap  --die-with-parent\
                      --dev-bind / /\
                      --tmpfs ${HOME}\
                      --bind  ${HOME}/Documents ${HOME}/Documents\
                      --bind  ${HOME}/Downloads ${HOME}/Downloads\
                      --bind  ${HOME}/Music ${HOME}/Music\
                      --bind  ${HOME}/Pictures ${HOME}/Pictures\
                      --bind  ${HOME}/Videos ${HOME}/Videos\
                      --bind  ${HOME}/.cache ${HOME}/.cache\
                      --bind  ${HOME}/.config ${HOME}/.config\
                      --bind  ${HOME}/.local ${HOME}/.local'
  alias yarn="bwrap --bind ${HOME}/.config/yarn/config ${HOME}/.yarnrc /usr/bin/yarn"
  alias oicq="bwrap --bind ${HOME}/.config/oicq ${HOME}/.oicq /usr/bin/oicq"
fi
