[user]
  signingkey = {{ .signingkey }}
  name = "{{ .name }}"
  email = "{{ .email }}"
[commit]
  #gpgsign = true
[init]
  defaultBranch = main
{{- if eq .chezmoi.hostname "iNetech-PC" }}
[credential]
  helper = /usr/lib/git-core/git-credential-libsecret
{{- end }}
[color]
  ui = true
[safe]
  directory = /srv/http/.local/state/website/blog.inetech.fun/usr/themes/Better
