[user]
  name = "Star_caorui"
  email = "star_caorui@hotmail.com"
  signingkey = "6A34401888C9B3A30A7F05CBB415400AEED441E9"
[commit]
  #gpgsign = true
[init]
  defaultBranch = main
{{- if eq .chezmoi.hostname "iNetech-PC" }}
[credential]
  helper = /usr/lib/git-core/git-credential-libsecret
{{- end }}
[color]
  ui = true
